@font-face {
  font-family: "American Typewriter";
  src: url("American Typewriter Regular.ttf");
}

header {
  display: grid;
}

h1 {
  font-family: 'Alegreya SC', serif;
  font-size: 40px;
  padding: 60px 0px 20px 0px;
  text-align: center;
  letter-spacing: 8px;
}

h2 {
  font-size: 40px;
  margin: 0px 0px 0px 0px;
  text-align: center;
}

.vignetteTop {
  margin: auto;
  transform: scale(-.4);
}

.vignetteBottom {
  margin: auto;
  transform: scale(.3);
}


article {
  margin: 30px 0px;
}

p {
  text-indent: 20px;
}

body {
  font-family: 'Alegreya SC', serif;
  font-weight: normal;
  font-style: normal;
  color: #443235;
  background-color: #e6ddde;
}

nav>ul {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav>ul>li {
  font-family: 'Marck Script', cursive;
  font-family: 'Alegreya SC', serif;
  font-size: 30px;
  margin: 20px 0px 20px 0px;
  padding: 20px;
}

a {
  color: rgb(14, 14, 14);
  text-decoration: none;
}

body>*>a:visited {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

nav {
  text-align: center;
}

main {
  margin: 50px 230px 0px 230px;
}

article {
  display: contents;
  padding: 20px;
}

.stories>div {
  display: flex;
  /* flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  flex : 0 0 50%; */
}

.stories>div::after{
  border-bottom: 7px dotted black;
  border-bottom-color: black;
  border-bottom-width: 7px;
  border-bottom-style: solid;
  /* border-bottom: 3px dotted #000; */
  border-image: url(dots.svg) 33% round;
  content: '';
  flex: 1 1 auto;
  margin: 0;
  order: 2;
}

.stories>dt {
  flex: 0 1 auto;
  margin: 0;
  order: 1;
  /* line-height: 1; */
}

.stories>dd {
  margin: 0;
  flex : 0 1 auto;
  order : 3;
}
