@font-face {
font-family: "American Typewriter";
src: url("ATR.ttf");
}

header {
  display: grid;
}

h1 {
  font-family: 'Alegreya SC', serif;
  font-size: 50px;
  padding: 130px 0px 30px 0px;
  text-align: center;
  letter-spacing: 11px;
}

h2 {
  font-size: 40px;
  margin: 0px 0px 0px 0px;
  text-align: center;
}

.vignette {
  margin: auto;
  max-width: 50%;
  max-height: 50%;
}

article {
  margin: 30px 0px;
}

p {
  text-indent: 20px;
}

body {
  font-family: 'Alegreya SC', serif;
  font-weight:normal;
font-style:normal;
  color: #443235;
  background-color: #e6ddde;
}

main {
  margin: 50px 230px 0px 230px;
}

ul {
  text-align: center;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li {
  font-family: 'Marck Script', cursive;
  font-family: 'Alegreya SC', serif;
  font-size: 30px;
  margin: 20px 0px 20px 0px;
}

li a {
  color: rgb(20,20,20);
  text-decoration : none;
  padding: 20px;
}

a {
  color: rgb(14, 14, 14);
  text-decoration: none;
}

body>*>a:visited {
  color: rgb(200, 200, 200);
  text-decoration: none;
}

nav {
  text-align: center;
}

article {
  padding : 50px;
  border-radius: 25px;
}

  article {
    padding: 20px;
  }
}

dl {
  display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
}

dt {
  border-bottom: 1px dotted #000;
  display: inline-block;
    min-width: 600px;

  flex: 0 0 50%;
 text-overflow: ellipsis;
 overflow: hidden;
}

dd {
  display: inline;
  margin: 0;

  flex:0 0 50%;
 margin-left: auto;
 text-align: left;
 text-overflow: ellipsis;
 overflow: hidden;
}

dd:after{
  display: block;
  content: '';
}

@media (min-width: 900px) {

}

@media (min-width: 1200px) {
  body {

  }
}

@media (min-width: 1800px) {
  body {

  }
}

@media query (700 < width < 1200){

}
